[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/katarro/auth-ms.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/katarro/gateway
[submodule "branch-ms"]
	path = branch-ms
	url = https://github.com/katarro/branch-ms
[submodule "test-ms-2"]
	path = test-ms-2
	url = https://github.com/katarro/test-ms-2
[submodule "queue-time-ms"]
	path = queue-time-ms
	url = https://github.com/usuario/queue-time-ms.git
